.colorGris {
  color: #959595;
}

.colorMaron {
  color: #784814;
}

.accordion {
  display: flex;
  width: 90%;
    margin: 0 auto;
    position: relative;
}

.card {
  padding: 0px;
  border: none;
}

.cardItemActive {
  background-color: #784814 !important;
  cursor: pointer;
  color: #ffffff;
}

.cardItemInactive {
  background-color: #f9f9f9 !important;
  cursor: pointer;
}

.cardItemInactive:hover {
  background-color: #ffffff !important;
}

.card div span:last-child{
padding-left: 15%;
}
.cardWrapper {
  border: none;
  box-shadow: 1px 1px 10px 1px rgb(144 142 142 / 60%);
  width: 16%;
}
.cardWrapper div {
  background-color: transparent;
}

.Home_card__2SdtB {
  background-color: #000 !important;
}

.cardWrapper div:first-child {
  padding: 18px 20px;
}
.myspan {
  color: #000;
  font-weight: bold;
}
.cardWrapper div:nth-child(2), .cardWrapper div:nth-child(4) {
  padding: 5px 20px;
  color: #959595;
}

.hr {
  margin: 0 auto;
  width: 80%;
}

.bodyCustom {
  box-shadow: 1px 1px 5px 0px rgb(144 142 142 / 60%);
}

.wrapperBody {
  position: absolute;
    left: 18%;
    width: 43%
}

.styleMap {
  height: 350px;
  margin: 20px 0;
    overflow: hidden;
}

.headerBody {
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1px solid rgb(184 184 184 / 25%);
}

.icons {
  display: flex;
  width: 7%;
  justify-content: space-between;
  align-items: center;
}
.icons span:last-child {
  font-size: 25px;
  color: #784814;
  cursor: pointer;
}
.telCustomer{
  align-self: center;
  color: #fff;
  background-color: #784814;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}

.buttonCustomer {
  background-color: #784814;
  width: 100%;
}
.buttonCustomer:hover {
  background-color: #5a3309;
}

.bodyItem div div div div div {
  background-color: red !important;
}

.footerBody {
  color: #784814;
  display: flex;
    flex-direction: column;
}

.footerItems {
  display: flex;
  color: #784814;
  font-size:3px;
  flex-direction: column;
  align-items: center;
}

.footerItem1 {
  color: #784814;
}

.footerItem2 {
  color: #784814;
  margin: 4px 0px;
}

.footerItem3 {
  color: #784814;
  margin-bottom: 5px;
}

.wrapperFooterBody {
  display: flex;
  margin-bottom: 6px;
}

.footerBodyAddress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 6px;
}